.contain_element {
  width: 250px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 60px;
}

.contain_element_active {
  width: 250px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 60px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
  width: 220px;
  cursor: pointer;
}
.p_size {
  font-size: 20px;
}
