.contain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contain_account_info {
  width: 91.5%;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  margin-right: 5%;
  margin-left: 2%;
}
