body{
    background-color: whitesmoke;
}
.contain {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.row1 {
    display: flex ; 
    flex-direction: row;
    justify-content: space-between;
}
.contain_nav {  
    width: 23%;
    height: 600px;
    margin-left: 1%;
    padding: 20px;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: flex-start;
    gap: 15px;
}

.contain_content{
    width: 69%;
    height: 600px;
    margin-right:1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.row2 {
    width: 100%;
    height: 186px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap :5px;
}

.row2_1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px ; 
}

.row3 {
    width: 100%;
    height: 450px;
    background-color: white;
    border-radius: 15px;
}