.contain {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contain__room {
  /* width: 91.5%; */
  background-color: white;
  height: 600px;
  margin-right: 5%;
  margin-left: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 15px;
  padding: 40px;
  gap: 40px;
}

.row_contain {
  width: 100%;
  display: flex;
  flex-direction: row;
}
